@media all and (min-width:768px) and (max-width:1439px) {
    header{
        width: 100%;
    }
    .inner{
        min-width: 768px;
        margin: 0 auto;
     }
    header .nav{
        height: 100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        border-bottom: 1px solid #36306230;
    }
    header .nav .nav-left{

    }
    header .nav .nav-left .logo{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 28px;
    }
    header .nav .nav-left .logo a{
        color: #363062;
    }
    header .nav .nav-right{

    }
    header .nav .nav-right .gnb-menu{
        display: none;
        cursor: pointer;
    }
    header .nav .nav-right #Gnb {

    }
    header .nav .nav-right .gnb-menu>.material-symbols-outlined {
        font-size: 30px;
        color: #363062;
    }
    header .nav .nav-right .sub-menu ul {
        display: flex;
        font-size: 24px;
        font-weight: 500;
    }
    header .nav .nav-right .sub-menu ul li{
        margin-left: 20px;
    }
    header .nav .nav-right .sub-menu ul li a{
        color: #363062;
        transition: .1s;
    }
    header .nav .nav-right .sub-menu ul li a:hover{
        color: #e9d5ca;
    }
    header .nav .nav-right .sub-menu .gnb-close {
        display: none;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    header .nav .nav-right .sub-menu .gnb-close>.material-symbols-outlined {
        font-size: 30px;
        color: #E9D5CA;
    }


    /*메인*/
    .profile {
        margin: 0 20px;
    }
    .profile-image {
        width: 154px;
        height: 154px;
        background-color: #363062;
        margin: 70px auto;
        border-radius: 100%;
        background-image: url('../../images/profile-image.jpg');
        background-position: center;
        background-size: cover;
    }
    .profile .section {
        display: flex;
    }
    .profile .section .paragraph:first-child {
        margin-right: 20px;
    }
    .paragraph {
        margin-bottom: 48px;
        width: 50%;
    }
    .paragraph .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 16px;
        color: #363062;
    }
    .paragraph .content {
        color: #333;
        line-height: 1.7;
    }
    .paragraph .content a {
        font-weight: 700;
        color: #827397;
        text-decoration: underline;
    }
    /*하단 고정버튼*/
    .fixed-btn {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 20px;
        color: rgb(181, 181, 181);
    }
    .fixed-btn .fixed-btn-top{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 7px rgba(153, 153, 153, .45);
        position: relative;
        cursor: pointer;
        transition: .3s;
    }
    .fixed-btn .fixed-btn-top:hover {
        background-color: #4d4c7d;
        color: #e9d5ca;
    }
    .fixed-btn .fixed-btn-top>.material-symbols-outlined {
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 50%;
        margin-left: -15px;
    }
    /*푸터*/
    footer{

    }
    footer .copy{
        text-align: center;
        color: rgba(181, 181, 181, 0.45);
        margin: 40px;
    }
}