@media all and (min-width:768px) and (max-width:1439px) {
    header{
        width: 100%;
    }
    .inner{
        min-width: 768px;
        margin: 0 auto;
     }
    header .nav{
        height: 100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        border-bottom: 1px solid #36306230;
    }
    header .nav .nav-left{

    }
    header .nav .nav-left .logo{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 28px;
    }
    header .nav .nav-left .logo a{
        color: #363062;
    }
    header .nav .nav-right{

    }
    header .nav .nav-right .gnb-menu{
        display: none;
        cursor: pointer;
    }
    header .nav .nav-right #Gnb {

    }
    header .nav .nav-right .gnb-menu>.material-symbols-outlined {
        font-size: 30px;
        color: #363062;
    }
    header .nav .nav-right .sub-menu ul {
        display: flex;
        font-size: 24px;
        font-weight: 500;
    }
    header .nav .nav-right .sub-menu ul li{
        margin-left: 20px;
    }
    header .nav .nav-right .sub-menu ul li a{
        color: #363062;
        transition: .1s;
    }
    header .nav .nav-right .sub-menu ul li a:hover{
        color: #e9d5ca;
    }
    header .nav .nav-right .sub-menu .gnb-close {
        display: none;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    header .nav .nav-right .sub-menu .gnb-close>.material-symbols-outlined {
        font-size: 30px;
        color: #E9D5CA;
    }

    /*메인*/
    .main{
        margin: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-visual {
        font-family: 'Montserrat', sans-serif;  
        color: #333;
        width: 50%;
    }
    .main-visual .category {
        background-color: #333;
        display: inline-block;
        margin-bottom: 40px;
        padding: 7px 10px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }
    .main-visual .text {
        font-family: 'Noto Sans KR', sans-serif;
    }
    .main-visual .text .title { 
        font-weight: 700;
        font-size: 34px;
        line-height: 1.2;
    }
    .main-visual .text .sub {
        color: #999;
        margin-top: 20px;
        margin-right: 24px;
        font-weight: 300;
        line-height: 1.5;
        font-size: 18px;
    }
    .main-visual .tool {
        font-size: 18px;
        font-weight: 500;
        margin-top: 40px;
        border-bottom: 2px solid #333;
        display: inline-block;
    }
    .main-visual .tool-boxs{
        display: flex;
    }
    .main-visual .tool-boxs .tool-box{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #333;
        box-sizing: border-box;
    }
    .main-visual .Front-end {
        font-size: 18px;
        font-weight: 500;
        margin-top: 30px;
        border-bottom: 2px solid #333;
        display: inline-block;
    }
    .main-visual .Front-end-boxs{
        display: flex;
    }
    .main-visual .Front-end-boxs .Front-end-box{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #333;
        box-sizing: border-box;
    }


    /*센터 정렬 코드*/
    .center-main{
        margin: 70px 0;
    }
    .center-main-visual {
        font-family: 'Montserrat', sans-serif;  
        color: #333;
        text-align: center;
    }
    .center-main-visual .center-category {
        background-color: #333;
        display: inline-block;
        margin-bottom: 30px;
        padding: 7px 10px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }
    .center-main-visual .center-text {
        font-family: 'Noto Sans KR', sans-serif;
        padding: 0 20px;
    }
    .center-main-visual .center-text .center-title { 
        font-weight: 700;
        font-size: 34px;
        line-height: 1.3;
    }
    .center-main-visual .center-text .center-sub {
        color: #999;
        margin-top: 20px;
        font-weight: 300;
        line-height: 1.5;
        font-size: 18px;
    }
    .center-main-visual .center-tool {
        font-size: 18px;
        font-weight: 500;
        margin-top: 70px;
        border-bottom: 2px solid #333;
        display: inline-block;
    }
    .center-main-visual .center-tool-boxs{
        display: flex;
        justify-content: center;
    }
    .center-main-visual .center-tool-boxs .center-tool-box{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #333;
        box-sizing: border-box;
    }
    .center-main-visual .center-Front-end {
        font-size: 18px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 8px;
        border-bottom: 2px solid #333;
        display: inline-block;
    }
    .center-main-visual .center-Front-end-boxs{
        display: flex;
        justify-content: center;
    }
    .center-main-visual .center-Front-end-boxs .center-Front-end-box{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #333;
        box-sizing: border-box;
    }
    .center-main-visual .center-Front-end-boxs .center-Front-end-box:last-child{
        margin-right: 0;
    }
    /*센터 정렬 코드*/


    .main-visual .tool-boxs .tool-box:last-child{
        margin-right: 0;
    }
    .main-img {
        width: 50%;
    }
    .main-img>img {
        width: 100%;
    }
    .work {
        max-width: 1439px;
        margin: 0 20px;
    }
    .work .work-image {
        width: 100%;
        margin-bottom: 50px;
    }
    .go-page a {
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subject {
        display: flex;
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .subject .subject-sub {
        width: 50%;
    }
    .subject .title {
        color:#333;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 6px;
    }
    .subject .content {
        color: #999;
        font-size: 18px;
        font-weight: 300;
        padding-right: 24px;
        line-height: 24px;

    }
    .subject .content2 {
        color: #999;
        font-size: 18px;
        font-weight: 300;
        padding-right: 0;
        line-height: 24px;
        padding-bottom: 18px;
    }
    .chapter {
        display: flex;
        font-size: 48px;
        font-weight: 700;
        margin: 150px 0;
        padding: 0 20px;
    }
    .chapter .number {
        width: 50%;
    }
    .chapter .chapter-title {
        width: 50%;
    }
    .persona {
        margin-bottom: 70px;
        padding: 0 20px;
    }
    .persona img {
        width: 100%;
    }
    .persona .m {
        display: none;
    }
    /*하단 고정버튼*/
    .fixed-btn {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 20px;
        color: rgb(181, 181, 181);
    }
    .fixed-btn .fixed-btn-next{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 7px rgba(153, 153, 153, .45);
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        transition: .3s;
    }
    .fixed-btn .fixed-btn-next:hover{
        background-color: #4d4c7d;
        color: #e9d5ca;
    }
    .fixed-btn .fixed-btn-next a>.material-symbols-outlined {
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 50%;
        margin-left: -15px;
    }
    .fixed-btn .fixed-btn-top{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 7px rgba(153, 153, 153, .45);
        position: relative;
        cursor: pointer;
        transition: .3s;
    }
    .fixed-btn .fixed-btn-top:hover {
        background-color: #4d4c7d;
        color: #e9d5ca;
    }
    .fixed-btn .fixed-btn-top>.material-symbols-outlined {
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 50%;
        margin-left: -15px;
    }
    /*푸터*/
    footer{

    }
    footer .copy{
        text-align: center;
        color: rgba(181, 181, 181, 0.45);
        margin: 40px;
    }
}